body {
    background-color: white;
    font-weight:300;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}
.site-header {
    background-image: linear-gradient( to right, #e61bea, #ba94ec);
    color: #767272;
    padding: 10px;
}

.navbar {
    text-align: right;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar ul li {
    display: inline;
    margin-right: 1rem;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}
.title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

table{
    margin-left: auto;
    margin-right: auto;
    /*padding: 10px;*/
    width: 90%;
    border-collapse: collapse;
    border: 1px solid;

}

table thead{
    border: 1px solid black;
    background-color: #ba94ec;
}

table td{
    padding: 5px;
}

h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
