body{
    margin: 0;
    padding: 0;
}
.siteheader{
    height: 30px;
    background-image: linear-gradient( to right, lawngreen, deepskyblue);
    margin:0;
}
button{
    height: 30px;
    text-align: center;
    background-color:black;
    color:white;
    padding-right: 1%;
    padding-left: 1%;
    border:none;
    box-shadow: none;
    cursor: pointer;
}
.mybody{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.commentInput{
    width: 40em;
    height: 5em;
    text-align: left;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    line-height: 1.5;
}
.subButton{
    width: 40em;
    margin-bottom: 5em;
    cursor: pointer;
}