<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name ="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
        <link rel="stylesheet" href="../static/index.css">
        <title>Song Interps</title>        
    </head>
    <body>
        <!-- header w/ signin/signup  -->      
        <header class="site-header">
            <div class="navbar">
                <ul>
                    <li><a href="signup.html">Sign Up</a></li>
                    <li><a href="login.html">Sign In</a></li>
                </ul>
            </div>
            <!-- <div class="container">
            </div> -->
        </header>
        <main>
            <!-- Logo -->
            <div class="logo">
                <IMG src="../static/blackmmlogo.jpg">
            </div>
            <!-- search bar -->
            <div class="search-wrap">
                <div class="search-text">
                    Search for a song :
                </div>
                <form id="search_form" class="search" method="POST">
                    <input class="typeahead search_input" type="text" name="f" id="f"
                    maxlength="95" autofocus="autofocus" autocomplete="off">
                </form>
            </div>
        </main>
    </body>
</html>