<!DOCTYPE html>
<html lang = "en">
<head>
    <meta name = "viewport" content = "width = device - width, initial - scale = 1" charset = "UTF-8">
    <link rel = "stylesheet" href = "../static/logininStyle.css">
    <title> Login </title>
</head>
<body>
    <div class = "siteheader">
        <a href = "/">
            <button>
                <  BACK HOME
            </button>
        </a>
    </div>
	<form class = "loginSheet">
        <img class = "logo" src = "../static/blackmmlogo.jpg">
        <h1> Log In </h1>
		<label> Username: </label><input type = "text" name = "username" placeholder = "enter username">
        <br>
		<label> Password: </label><input type = "password" name = "password" placeholder = "enter password">
        <br>
		<button> SUBMIT </button>
        <p> Don't have an account? <a href = "/signup"> Sign up </a></p>
    </form>
</body>
</html>
