<!DOCTYPE html>
<html lang = "en">
<head>
    <meta name = "viewport" content = "width = device - width, initial - scale = 1" charset = "UTF-8">
    <link rel="stylesheet" href="../static/logininStyle.css">
    <title> Log In </title>
</head>
<body>
    <h2> MUSIC MOVERS </h2>
    <h1> Login </h1>
	<form class = "loginSheet">
		<label> Username: </label><input type = "text" name = "username">
        <br>
		<label> Password: </label><input type = "text" name = "password">
        <br>
		<input type = "submit" value = "Login">
    </form>
</body>
</html>
