<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
    <link rel="stylesheet" href="../static/searchResult.css">
</head>
<body>

    <!-- header w/ user/song  -->
    <header class="site-header">
        <div class="navbar">
            <ul>
                <li><a href="user.html">User</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </header>

    <div class = "whitebox">
    <h1>Search Results for {{search}}</h1>
    <table border=1>
        <thead>
            <td>Song Name</td>
            <td>Artist</td>
        </thead>

        <!-- print data in table for each row  -->
        {% for row in rows %}
            <tr>
               <td><a href="{{url_for('song', songid=row['songId'])}}" >{{row["name"]}}</a></td>
                <td>{{row["username"]}}</td>
            </tr>
         {% endfor %}
    </table>

     {% if error %}
        <p>{{error}}</p>
    {% endif %}
    </div>

</body>
</html>
