<!doctype html>
<html>
    <head>
        <meta name ="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
        <link rel="stylesheet" href="../static/songStyle.css">
        <title>Sign Up</title>
    </head>
   <body>
       <div class = "siteheader">
        <a href="/">
            <button>
                <  BACK HOME
            </button>
        </a>
    </div>
      <h1>{{song['name']}}</h1>
      By: {{song['username']}}<br>
      {{song['lyrics'] | safe}}

      <h2>Interpretations</h2>
      {%for row in rows%}
       <h3>{{row["username"]}}</h3>
       {{row["interp"]}}

      {%endfor%}
   </body>
</html>

