<!doctype html>
<html>
    <head>
        <meta name ="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
        <link rel="stylesheet" href="../static/songStyle.css">
        <title>Sign Up</title>
    </head>
   <body>
       <div class = "siteheader">
        <a href="/">
            <button>
                <  BACK HOME
            </button>
        </a>
    </div>
       <div class = "mybody">
           <div class = "whitebox">
            <h1>{{song['name']}}</h1>
            By: {{song['username']}}<br>
            {{song['lyrics'] | safe}}
            </div>
        <div class="whitebox">
        <h2>Interpretations</h2>
        {%for row in rows%}
        <h3>{{row["username"]}}</h3>
        {{row["interp"]}}
        <h3>{{row["postScore"]}}</h3>
        {%endfor%}
        </div>
        <form action = "{{ url_for('interpPost', songId=song[songId]) }}" method = "POST">
            <div class="mybody">
                <div class="whitebox">
                <h1>
                    Add your own Interpretation
                </h1>
                <br>
                <textarea name = "thetext" class="commentInput" placeholder="Enter Interpretation here...."></textarea>
                <button class="subButton">
                    COMMENT
                </button>
                </div>
            </div>
            <br>
            <br>
        </form>
        </div>
   </body>
</html>

