<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta name ="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
        <link rel="stylesheet" href="../static/userStyle.css">
        <title> User </title>
    </head>
    <body>
        <header class = "siteheader">
            <div class="navbar">
                <ul href = "/">
                    <li><a href = "/search"> Home </a></li>
               </ul>
            </div>
        </header>

        <main>
            <div>
                <h2> {{ user.username }} </h2>
                <p class = "profile-type"> {{ user.userType }} </p>
                <p class = "date"> {{ user.joinDate }} </p>
            </div>

            <section class = "user-posts">
                <h2> User Posts </h2>
                {% for post in interps %}
                <div class = "post">
                    <a href = "{{ post_url }}">
                        <h3> {{ post.songs.name }} </h3>
                        <p> {{ post.posts.interp }} </p>
                    </a>
                </div>
                {% endfor %}
            </section>
        </main>
    </body>
</html>
