<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta name ="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
        <link rel="stylesheet" href="../static/userStyle.css">
        <title> User </title>
    </head>
    <body>
        <header class = "siteheader">
            <div class="navbar">
                <ul href = "/">
                    <li><a href = "/search"> Home </a></li>
               </ul>
            </div>
        </header>

        <main>
            <div>
                <h2> {{ username }} </h2>
                <p class = "profile-type"> {{ user_type }} </p>
                <p class = "date"> {{ joinDate }} </p>
            </div>

            <section class = "artist-songs">
                <h2> Artist Songs </h2>
                <ul>
                    <p> {% for song in artist_songs %}
                    <li>
                        <a href = "{{ song_url }}">
                            {{ song.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </section>

            <section class = "user-posts">
                <h2> User Posts </h2>
                {% for post in user_posts %}
                <div class = "post">
                    <a href = "{{ post_url }}">
                        <h3> {{ post.song_name }} </h3>
                        <p> {{ post.interp }} </p>
                    </a>
                </div>
                {% endfor %}
            </section>
        </main>
    </body>
</html>
